body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
}

/* Search bar */

.nav-bar {
    padding: 25px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    /* border: 1px solid green; */
}

.logo {
    background-image: url(/images/1200px-Google_2015_logo.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid green; */
    width: 100px;
    height: 34px;
    padding-right: 45px;
}

.search-bar {
    border-radius: 25px;
    width: 700px;
    height: 45px;
    border: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar:hover {
    box-shadow: 0px 0px 8px rgb(200, 200, 200);
}

.search-input {
    border: none;
    width: 600px;
    height: 40px;
    font-size: 17px;
    margin: 2px 0 0 15px;
}

.input-cancel {
    border-right: 1px solid rgb(220, 220, 220);
    width: 30px;
    height: 30px;
}

.input-cancel>span {
    font-size: 2em;
    font-weight: lighter;
    color: rgb(160, 160, 160);
}

.search-icon {
    margin-right: 13px;
    
}

.apps-and-login {
    display: flex;
    /* border: 1px solid blue; */
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.app-icon {
    background-image: url(/images/app.png);
    /* border: 1px solid green; */
    height: 40px;
    min-width: 40px;
    margin-right: 15px;
    border-radius: 25px;
}

.app-icon:hover {
    background-image: url(/images/app-hover.png);
    height: 40px;
    min-width: 40px;
    border-radius:25px;
}

.app-icon {
    width: 22px;
}

.avatar {
    background-image: url(images/avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* Search Results */

.search-results, .search-results-tab{
    margin-left: 180px;
}

.search-result-card {
    border: 1px solid green;
    margin-bottom: 25px;
}